services:
  imagemaid:
    container_name: imagemaid
    image: ${IMAGEMAID_IMAGE:-kometateam/imagemaid}:${IMAGEMAID_IMAGE_TAG:-latest}
    profiles: ["${IMAGEMAID_PROFILE:-quality}"]
    restart: unless-stopped
    networks:
      - external
      - internal
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      # Default
      TZ: "${TZ:-Europe/London}"
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-1000}"
      UMASK: "000"
      # Image
      PLEX_URL: "https://plex.$DOMAIN:443/"
      PLEX_TOKEN: "$PLEX_TOKEN"
      PLEX_PATH: "/plex"
      TIMEOUT: "1000"
      SCHEDULE: "00:00|weekly(monday)|mode=clear,01:00|weekly(monday)|mode=move"
    volumes:
      - "./config:/config"
      - "./logs:/config/logs"
      - "../plex/config/Library/Application Support/Plex Media Server:/plex"
    labels:
      - "deunhealth.restart.on.unhealthy=false"
      - "traefik.enable=false"
