services:
  tautulli:
    container_name: tautulli
    image: ${TAUTULLI_IMAGE:-lscr.io/linuxserver/tautulli}:${TAUTULLI_IMAGE_TAG:-latest}
    profiles: ["${TAUTULLI_PROFILE:-information}"]
    restart: unless-stopped
    networks:
      - external
      - internal
    depends_on:
      traefik:
        condition: service_started
        restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      # Default
      TZ: "${TZ:-Europe/London}"
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-1000}"
      UMASK: "000"
      # Image
      LOG_LEVEL: "debug"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config:/config"
      - "./logs:/config/logs"
    labels:
      - "deunhealth.restart.on.unhealthy=true"

      - "homepage.group=Tools"
      - "homepage.name=Tautulli"
      - "homepage.icon=tautulli.png"
      - "homepage.href=https://tautulli.$DOMAIN/"
      - "homepage.description=Plex monitoring"

      - "traefik.enable=true"
      - "traefik.http.routers.tautulli.rule=Host(`tautulli.$DOMAIN`)"
      - "traefik.http.routers.tautulli.middlewares=tautulli,tinyauth,error-pages"
      - "traefik.http.services.tautulli.loadbalancer.server.port=8181"
      - "traefik.http.middlewares.tautulli.headers.accessControlAllowCredentials=true"
      - "traefik.http.middlewares.tautulli.headers.accessControlAllowOriginList=https://$DOMAIN"

    healthcheck:
      interval: "30s"
      timeout: "5s"
      retries: 3
      start_period: "10s"
      test: "curl --connect-timeout 5 --silent --show-error --fail http://localhost:8181/"
