# If using the minimum-keep-alive.sh script set which services to keep alive.
# This is also the default if you don't copy this file correctly.
KEEP_ALIVE=("socket-proxy" "tinyauth" "error-pages" "traefik")
