.env
compose.override.yaml

/aquota.user
/.vscode

/*/backup/**
!/*/backup/.gitkeep
/*/config/**
!/*/config/.gitkeep
/*/logs/**
!/*/logs/.gitkeep
/*/tmp/**
!/*/tmp/.gitkeep

/homer/assets/config.yml
/tdarr_inform/tdarr_inform
