name: rycochet

# For each of these sections the initial comment is the default PROFILE name
# used for it.
#
# To prevent any service from automatically running set the `PROFILE_<name>` to
# `"disabled"`, or create a `compose.override.yaml` file, and reset the entire
# service:
# ```yaml
# services:
#   bazarr: !reset []
# ```
include:
  # INFRASTRUCTURE
  - deunhealth/compose.yaml           # Bring unhealthy containers back up
  - portainer/compose.yaml            # Container management
  - socket-proxy/compose.yaml         # Secure access to the docker socket
  - watchtower/compose.yaml           # Auto-update containers
  - zfdash/compose.yaml               # ZFS administration

  # NETWORK
  # - adguardhome/compose.yaml          # Ads & trackers blocking DNS server
  - cloudflared/compose.yaml          # Cloudflare tunnel
  - error-pages/compose.yaml          # Error pages
  - flaresolverr/compose.yaml         # Cloudflare captcha bypasss
  - openspeedtest/compose.yaml        # Speed test
  - tinyauth/compose.yaml             # OAuth via Google
  - traefik/compose.yaml              # HTTP routing
  - vpn/compose.yaml                  # VPN + HTTP Proxy + Socks5 Proxy

  # LIBRARY
  - audiobookshelf/compose.yaml       # Audiobooks library
  - jellyfin/compose.yaml             # Open source media library
  - kapowarr/compose.yaml             # Comics
  # - komga/compose.yaml                # Comic library
  # - manyfold/compose.yaml             # 3d models library
  - plex/compose.yaml                 # Media library
  - emby/compose.yaml                 # Media library

  # QUALITY
  - imagemaid/compose.yaml            # Cleanup Plex image cache
  - kometa/compose.yaml               # Poster overlays, collections, playlists for Plex
  - plex-find-mismatch/compose.yaml   # Finds mismatches between tvdb/tmdb/imdb and Plex
  - tdarr_inform/compose.yaml         # Notifications from sonarr / radarr / etc to tdarr
  - tdarr/compose.yaml                # Transcoding / format shifting / audio normalisation
  - titlecardmaker/compose.yaml       # Episode thumbnails for Plex

  # INFORMATION
  - beszel/compose.yaml               # System information
  - dozzle/compose.yaml               # Docker status
  - duc/compose.yaml                  # Disk usage
  - glances/compose.yaml              # Operating system status
  - homepage/compose.yaml             # Dashboard
  - overseerr/compose.yaml            # Media requests and issue tracking
  - scrutiny/compose.yaml             # S.M.A.R.T. information
  - tautulli/compose.yaml             # Plex stats
  - watchstate/compose.yaml           # Sync media library watch state

  # DESKTOP
  - webtop/compose.yaml               # Linux desktop
  - windows/compose.yaml              # Windows desktop

  # DOWNLOAD
  - cleanuparr/compose.yaml           # Bad download handling
  - huntarr/compose.yaml              # Missing media search
  - i2p/compose.yaml                  # I2P Client
  # - onlyfans/compose.yaml             # Download all subscriptions
  - prowlarr/compose.yaml             # Torrent / NNTP search proxy
  - qbittorrent/compose.yaml          # Torrent downloader
  - sabnzbd/compose.yaml              # NNTP downloader
  - syncthing/compose.yaml            # Synchronise library

  # MEDIA SUPPORT
  - postgres/compose.yaml             # Database
  - pgadmin/compose.yaml              # Database admin

  # MEDIA
  - bazarr/compose.yaml               # Subtitles
  - lidarr/compose.yaml               # Music
  # - mylar/compose.yaml                # Comics
  - radarr/compose.yaml               # Movies
  - readarr/compose.yaml              # eBooks / Audiobooks
  - sonarr/compose.yaml               # TV Shows
  # - ubooquity/compose.yaml            # Comics
  # - whisparr/compose.yaml             # Porn

  # GAMES - Not started automatically
  - minecraft/compose.yaml            # Minecraft

networks:
  external:
    name: "external"
    driver: bridge
    enable_ipv4: true
    enable_ipv6: true
  internal: # No internet access
    name: "internal"
    driver: bridge
    internal: true
