services:
  tdarr-inform:
    container_name: tdarr-inform
    image: ${TDARR_INFORM_IMAGE:-ghcr.io/deathbybandaid/tdarr_inform}:${TDARR_INFORM_IMAGE_TAG:-latest}
    profiles: ["${TDARR_INFORM_PROFILE:-quality}"]
    restart: unless-stopped
    networks:
      - external
      - internal
    depends_on:
      traefik:
        condition: service_started
        restart: false
      tdarr:
        condition: service_started
        restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    user: "${PUID:-1000}:${PGID:-1000}"
    volumes:
      - "./config:/config"
    labels:
      - "deunhealth.restart.on.unhealthy=true"

      - "traefik.enable=true"
      - "traefik.http.routers.tdarr-inform.rule=Host(`tdarr-inform.$DOMAIN`)"
      - "traefik.http.routers.tdarr-inform.middlewares=tinyauth,error-pages"
      - "traefik.http.services.tdarr-inform.loadbalancer.server.port=5004"

      - "homepage.group=Tools"
      - "homepage.name=Tdarr-inform"
      - "homepage.icon=tdarr.png"
      - "homepage.href=https://tdarr-inform.$DOMAIN"
      - "homepage.description=Tdarr notifications"
