services:
  sabnzbd:
    container_name: sabnzbd
    image: ${SABNZBD_IMAGE:-lscr.io/linuxserver/sabnzbd}:${SABNZBD_IMAGE_TAG:-latest}
    profiles: ["${SABNZBD_PROFILE:-download}"]
    extends:
      file: ../compose.extend.yaml
      service: "vpn-${USE_VPN:-false}"
    restart: unless-stopped
    networks:
      - internal
      - external
    depends_on:
      traefik:
        condition: service_started
        restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      # Default
      TZ: "${TZ:-Europe/London}"
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-1000}"
      UMASK: "000"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config:/config"
      - "./logs:/config/logs"
      - "./backup:/data/backup"
      - "$PATH_DOWNLOADS:/data/Downloads"
    labels:
      - "deunhealth.restart.on.unhealthy=true"

      - "homepage.group=Download"
      - "homepage.name=SABnzbd"
      - "homepage.icon=sabnzbd.png"
      - "homepage.href=https://sabnzbd.$DOMAIN/"
      - "homepage.description=Newsgroups"
      - "homepage.widget.type=sabnzbd"
      - "homepage.widget.url=http://sabnzbd:8085"
      - "homepage.widget.key=${SABNZBD_API:-}"

      - "traefik.enable=true"
      - "traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.$DOMAIN`)"
      - "traefik.http.routers.sabnzbd.middlewares=sabnzbd,tinyauth,error-pages"
      - "traefik.http.services.sabnzbd.loadbalancer.server.port=8085"
      - "traefik.http.middlewares.sabnzbd.headers.accessControlAllowCredentials=true"
      - "traefik.http.middlewares.sabnzbd.headers.accessControlAllowOriginList=https://$DOMAIN"

    healthcheck:
      interval: "30s"
      timeout: "5s"
      retries: 3
      start_period: "10s"
      test: "curl --connect-timeout 15 --silent --show-error --fail http://localhost:8085/"
