services:
  radarr:
    container_name: radarr
    image: ${RADARR_IMAGE:-lscr.io/linuxserver/radarr}:${RADARR_IMAGE_TAG:-latest}
    profiles: ["${RADARR_PROFILE:-media}"]
    extends:
      file: ../compose.extend.yaml
      service: "pg-${USE_POSTGRES:-false}_vpn-${USE_VPN:-false}"
    restart: unless-stopped
    networks:
      - internal
    depends_on:
      traefik:
        condition: service_started
        restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      # Default
      TZ: "${TZ:-Europe/London}"
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-1000}"
      UMASK: "000"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config:/config"
      - "./backup:/config/Backups"
      - "./logs:/config/logs"
      - "./make_ignore.sh:/config/make_ignore.sh:ro"
      - "$PATH_MOVIES:/data/movies"
      - "$PATH_DOWNLOADS:/data/Downloads"
    labels:
      - "deunhealth.restart.on.unhealthy=true"

      - "homepage.group=Media"
      - "homepage.name=Radarr"
      - "homepage.icon=radarr.png"
      - "homepage.href=https://radarr.$DOMAIN/"
      - "homepage.description=Movies"
      - "homepage.widget.type=radarr"
      - "homepage.widget.url=http://radarr:7878"
      - "homepage.widget.key=${RADARR_API:-}"

      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.$DOMAIN`)"
      - "traefik.http.routers.radarr.middlewares=radarr,tinyauth,error-pages"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
      - "traefik.http.middlewares.radarr.headers.accessControlAllowCredentials=true"
      - "traefik.http.middlewares.radarr.headers.accessControlAllowOriginList=https://$DOMAIN"

    healthcheck:
      interval: "30s"
      timeout: "5s"
      retries: 3
      start_period: "10s"
      test: "curl --connect-timeout 15 --silent --show-error --fail http://localhost:7878/"
