services:
  titlecardmaker:
    container_name: titlecardmaker
    image: ${TITLECARDMAKER_IMAGE:-ghcr.io/titlecardmaker/titlecardmaker-webui}:${TITLECARDMAKER_IMAGE_TAG:-latest}
    profiles: ["${TITLECARDMAKER_PROFILE:-quality}"]
    restart: unless-stopped
    networks:
      - external
      - internal
    depends_on:
      traefik:
        condition: service_started
        restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      # Default
      TZ: "${TZ:-Europe/London}"
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-1000}"
      UMASK: "000"
      # Image
      TCM_LOG: "INFO"
      TCM_MISSING: "/config/missing.yml"
      TCM_RUNTIME: "00:15"
      TCM_FREQUENCY: "24h"
    volumes:
      - "./config:/config"
      - "./logs:/maker/logs"
      - "$PATH_TV:/data/tv"
    labels:
      - "deunhealth.restart.on.unhealthy=true"

      - "homepage.group=Tools"
      - "homepage.name=TitleCardMaker"
      - "homepage.icon=/images/titlecardmaker.png"
      - "homepage.href=https://titlecardmaker.$DOMAIN/"
      - "homepage.description=Episode Posters"

      - "traefik.enable=true"
      - "traefik.http.routers.titlecardmaker.rule=Host(`titlecardmaker.$DOMAIN`)"
      - "traefik.http.routers.titlecardmaker.middlewares=tinyauth,error-pages"
      - "traefik.http.services.titlecardmaker.loadbalancer.server.port=4242"
