services:
  whisper:
    container_name: whisper
    image: ${WHISPER_IMAGE:-mccloud/subgen}:${WHISPER_IMAGE_TAG:-latest}
    profiles: ["${WHISPER_PROFILE:-quality}"]
    extends:
      file: ../compose.extend.yaml
      service: "gpu-${USE_GPU:-none}"
    restart: unless-stopped
    networks:
      - external
      - internal
    # depends_on:
    #   bazarr:
    #     condition: service_started
    #     restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      LOG_LEVEL: "warn"
      NAME_SERVERS: "9.9.9.9"
      PROCADDEDMEDIA: "true"
      PROCMEDIAONPLAY: "false"
      PLEXTOKEN: "$PLEX_TOKEN"
      PLEXSERVER: "https://plex.rycochet.net:443"
      CONCURRENT_TRANSCRIPTIONS: "2"
      MODEL_PATH: "./models"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config:/subgen/models"
      - "./subgen.env:/subgen/subgen.env:ro"
      - "$PATH_MOVIES:/data/movies:ro"
      - "$PATH_MUSIC:/data/music:ro"
      - "$PATH_TV:/data/tv:ro"
    labels:
      - "com.centurylinklabs.watchtower.monitor-only=true"

      - "deunhealth.restart.on.unhealthy=true"

      - "homepage.group=Tools"
      - "homepage.name=Whisper"
      - "homepage.icon=/images/whisper.png"
      - "homepage.description=Audio transcaription"

      - "traefik.enable=false"

    healthcheck:
      interval: "300s" # Note that it locks up during transcribe, so this must be longer than a movie
      timeout: "5s"
      retries: 3
      start_period: "10s"
      test: "curl --connect-timeout 5 --silent --show-error --fail http://localhost:9000/"
