services:
  glances:
    container_name: glances
    image: ${GLANCES_IMAGE:-nicolargo/glances}:${GLANCES_IMAGE_TAG:-ubuntu-latest-full}
    profiles: ["${GLANCES_PROFILE:-information}"]
    extends:
      file: ../compose.extend.yaml
      service: "gpu-${USE_GPU:-none}"
    restart: unless-stopped
    pid: host
    networks:
      - internal
    depends_on:
      socket-proxy:
        condition: service_healthy
        restart: false
      traefik:
        condition: service_started
        restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      # Default
      TZ: "${TZ:-Europe/London}"
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-1000}"
      UMASK: "000"
      # Image
      DOCKER_HOST: "tcp://socket-proxy:2375"
      GLANCES_OPT: "-w"
    volumes:
      - "/etc/os-release:/etc/os-release:ro"
    labels:
      - "deunhealth.restart.on.unhealthy=true"

      - "homepage.group=Information"
      - "homepage.name=Glances"
      - "homepage.icon=glances.png"
      - "homepage.href=https://glances.$DOMAIN/"
      - "homepage.description=System Status"
      - "homepage.widget.type=glances"
      - "homepage.widget.url=http://glances:61208"
      - "homepage.widget.version=4"
      - "homepage.widget.metric=containers"

      - "traefik.enable=true"
      - "traefik.http.routers.glances.rule=Host(`glances.$DOMAIN`)"
      - "traefik.http.routers.glances.middlewares=glances,tinyauth,error-pages"
      - "traefik.http.services.glances.loadbalancer.server.port=61208"
      - "traefik.http.middlewares.glances.headers.accessControlAllowCredentials=true"
      - "traefik.http.middlewares.glances.headers.accessControlAllowOriginList=https://$DOMAIN"

    healthcheck:
      interval: "30s"
      timeout: "5s"
      retries: 3
      start_period: "2s"
      test: "curl --connect-timeout 15 --silent --show-error --fail http://localhost:61208/"
