services:
  lidarr:
    container_name: lidarr
    image: ${LIDARR_IMAGE:-lscr.io/linuxserver/lidarr}:${LIDARR_IMAGE_TAG:-latest}
    profiles: ["${LIDARR_PROFILE:-media}"]
    extends:
      file: ../compose.extend.yaml
      service: "pg-${USE_POSTGRES:-false}_vpn-${USE_VPN:-false}"
    restart: unless-stopped
    networks:
      - internal
    depends_on:
      traefik:
        condition: service_started
        restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      # Default
      TZ: "${TZ:-Europe/London}"
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-1000}"
      UMASK: "000"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config:/config"
      - "./backup:/config/Backups"
      - "./logs:/config/logs"
      - "./make_ignore.sh:/config/make_ignore.sh:ro"
      - "$PATH_MUSIC:/data/music"
      - "$PATH_DOWNLOADS:/data/Downloads"
    labels:
      - "deunhealth.restart.on.unhealthy=true"

      - "homepage.group=Media"
      - "homepage.name=Lidarr"
      - "homepage.icon=lidarr.png"
      - "homepage.href=https://lidarr.$DOMAIN/"
      - "homepage.description=Music"
      - "homepage.widget.type=lidarr"
      - "homepage.widget.url=http://lidarr:8686"
      - "homepage.widget.key=${LIDARR_API:-}"

      - "traefik.enable=true"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.$DOMAIN`)"
      - "traefik.http.routers.lidarr.middlewares=lidarr,tinyauth,error-pages"
      - "traefik.http.services.lidarr.loadbalancer.server.port=8686"
      - "traefik.http.middlewares.lidarr.headers.accessControlAllowCredentials=true"
      - "traefik.http.middlewares.lidarr.headers.accessControlAllowOriginList=https://$DOMAIN"

    healthcheck:
      interval: "30s"
      timeout: "5s"
      retries: 3
      start_period: "10s"
      test: "curl --connect-timeout 15 --silent --show-error --fail http://localhost:8686/"

  # Help with lidarr's metadata server - don't start automatically
  lidarr-cache-warmer:
    container_name: lidarr-cache-warmer
    image: ghcr.io/devianteng/lidarr-cache-warmer:latest
    profiles: ["disabled"]
    restart: unless-stopped
    networks:
      - internal
      - external
    depends_on:
      lidarr:
        condition: service_started
        restart: true
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    user: "${PGID:-1000}:${PUID:-1000}"
    environment:
      # Default
      TZ: "${TZ:-Europe/London}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./config/cache-warmer:/app/data"
    labels:
      - "deunhealth.restart.on.unhealthy=false"
      - "traefik.enable=false"
