services:
  zfs-discord-alerts:
    container_name: zfs-discord-alerts
    image: ${ZFS_DISCORD_ALERTS_IMAGE:-ghcr.io/rycochet/zfs-discord-alerts}:${ZFS_DISCORD_ALERTS_IMAGE_TAG:-latest}
    profiles: ["${ZFS_DISCORD_ALERTS_PROFILE:-tools}"]
    restart: unless-stopped
    read_only: true
    networks:
      - internal
      - external
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    devices:
      - "/dev/zfs:/dev/zfs"
    environment:
      DISCORD_WEBHOOK_URL: "${ZFS_DISCORD_ALERTS_WEBHOOK:?Set the ZFS_DISCORD_ALERTS_WEBHOOK to your discord webhook!}"
      EXTRA: "${ZFS_DISCORD_ALERTS_EXTRA:-}"
      POOLS: "${ZFS_DISCORD_ALERTS_POOLS:-}"
      LOG_LEVEL: "${ZFS_DISCORD_ALERTS_LOG_LEVEL:-INFO}"
      SHOW_SPACE: "${ZFS_DISCORD_ALERTS_SHOW_SPACE:-False}"
      VERBOSE: "${ZFS_DISCORD_ALERTS_VERBOSE:-False}"
      WEBSERVER: "${ZFS_DISCORD_ALERTS_WEBSERVER:-True}"
    labels:
      - "deunhealth.restart.on.unhealthy=true"

      - "traefik.enable=false"

      - "homepage.group=Information"
      - "homepage.name=ZFS"
      - "homepage.icon=/images/zfs.png"
      - "homepage.description=Pool status"
      - "homepage.widget.type=customapi"
      - "homepage.widget.method=GET"
      - "homepage.widget.url=http://zfs-discord-alerts:8080/"
      - "homepage.widget.mappings[0].label=Online"
      - "homepage.widget.mappings[0].field=online"
      - "homepage.widget.mappings[0].format=number"
      - "homepage.widget.mappings[1].label=Degraded"
      - "homepage.widget.mappings[1].field=degraded"
      - "homepage.widget.mappings[1].format=number"
      - "homepage.widget.mappings[2].label=Total"
      - "homepage.widget.mappings[2].field=total"
      - "homepage.widget.mappings[2].format=number"

    healthcheck:
      interval: "30s"
      timeout: "5s"
      retries: 3
      start_period: "10s"
      test: "wget --no-verbose --tries=1 --spider http://127.0.0.1:8080/_ping || exit 1"
