services:
  kometa:
    container_name: kometa
    image: ${KOMETA_IMAGE:-lscr.io/linuxserver/kometa}:${KOMETA_IMAGE_TAG:-latest}
    profiles: ["${KOMETA_PROFILE:-quality}"]
    extends:
      file: ../compose.extend.yaml
      service: "vpn-${USE_VPN:-false}"
    restart: unless-stopped
    networks:
      - external
      - internal
    depends_on:
      plex:
        condition: service_healthy
        restart: false
      sonarr:
        condition: service_healthy
        restart: false
      radarr:
        condition: service_healthy
        restart: false
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "3"
    environment:
      # Default
      TZ: "${TZ:-Europe/London}"
      PUID: "${PUID:-1000}"
      PGID: "${PGID:-1000}"
      UMASK: "000"
      # Image
      KOMETA_TIMES: "06:30" # Run at this time every day
    volumes:
      - "./config:/config"
      - "./logs:/config/logs"
      - "./backup:/data/backup"
    labels:
      - "com.centurylinklabs.watchtower.monitor-only=true"
      - "deunhealth.restart.on.unhealthy=false"
      - "traefik.enable=false"
